
body{
    background-attachment: fixed;
    background-image: linear-gradient(to top right, #2A8C82, #41BFB3, #275950, #260101);
    flex-direction: column;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 5px;
    animation: mudar-cor 1s infinite;
}

@keyframes mudar-cor{
    0% { color: #23596e;}
    50% { color: #4885d6;}
    100% { color: #a243b9}
}

#bolb{
    justify-content: center;
    
    display: block;
    margin-left: auto;
    margin-right:auto ;
}

.botao{
    vertical-align: 2px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
}

#botao1{
    width: 70px;
    font-size: 17px;
    box-shadow: 4px 4px 5px rgb(117, 37, 117);
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#botao2{
    width: 70px;
    font-size: 17px;
    box-shadow: 4px 4px 5px  rgb(117, 37, 117);
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#botao3{
    width: 70px;
    font-size: 17px;
    box-shadow: 4px 4px 5px  rgb(117, 37, 117);
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jogo{
    display: block;
    justify-content: center;
    border: 2px solid black;
    width: 945px;
    height: 250px;
    margin: auto;
    
}

#bird{
    position: relative;
    animation: passaro 1s infinite;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes passaro{
    0%{ left: 1px;}
    10%{ left: 10px;}
    50%{ left: 200px;}
    70%{ left: 300px;}
}

.rotacao{
    position: relative;
    display: block;
    justify-content: flex-start;
    background-color: #cc24a8;
    width: 10px;
    height: 50px;
    left: 500px;
    top: 100px;
    box-shadow: 3px 3px 10px black;
    border-radius: 20px;
    animation: girar 1s infinite;
}

@keyframes girar{
    0%{ transform: rotate(360deg);}
}